Dockerfile
.dockerignore

.git
*/.git
**/.git

*/venv
*/dist
**/venv

*/build
*/dist
**/*.egg-info
**/*.egg/
**/*.pyc
**/*.swp

**/__pycache__

**/.idea

### OSX ###
.DS_Store
**/*.DS_Store
**/.AppleDouble
**/.LSOverride

